body{
    height: 100%
}

.up {
    display: flex;
    flex-direction: column;
}

.Vote {
    text-transform: uppercase;
    top: -150px;
    position: relative;
    text-align: center;
    font-size: 220px;
    font-weight: 900;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 6px;
-webkit-text-stroke-color: black;
}

.Judge{
    position: relative;
    top: -150px;
    text-transform: uppercase;
    text-align: center;
    font-size: 220px;
    font-weight: 900;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 6px;
-webkit-text-stroke-color: black;
}

.Woods{
    top: -150px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 220px;
    font-weight: 900;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 6px;
-webkit-text-stroke-color: black;
}

.Star{
    height: 200px;
    float: right;
    padding-right: 27px;
    padding-top: 21px;
}

.Star2{
    height: 200px;
    padding-left: 27px;
    padding-top: 21px;
}

.Star3{
    height: 200px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.Star4{
    height: 200px;
    left: 0;
    bottom: 0;
    position: absolute;
}